<!DOCTYPE html>
<html lang="en">

	{% include themes/minimal/header.html %}
	<head>
		<link rel="stylesheet" href="/assets/themes/minimal/style.css">
	</head>
	<body>
		{% include themes/minimal/navbar.html %}
		<div class="container">
		  {{ content }}
		</div>
		{% include themes/minimal/footer.html %}
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async
			  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
		</script>
	</body>
</html>